.btn-toolbar .btn{
  margin-right: 15px;
}
.btn-toolbar .btn:last-child{
  margin-right: 0;
}

.entry{
  color: rgb(240, 9, 9);

}

.par{

  text-align: center;
  text-align: justify;
  text-justify: inter-word;
}
input[type="radio"]{
  margin: 0 10px 0 10px;
}
span { color: rgb(18, 124, 245); }
em{color: red;}

.btn{
  padding: 5px 50px;
  border: 0 none;
  font-size: 15px;
  border-radius: 0%;
  background-color: grey;
  color:white;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
}
